body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#game-board{
    background: url(../img/nightforest1.jpg);
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.movingdown{
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    background: url(../img/Eyes.png) center;
    background-repeat: no-repeat;
    background-size: 600px 600px;
}

.movingup{
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    background: url(../img/Eyes.png) center;
    background-repeat: no-repeat;
    background-size: 600px 600px;
}

.movingleft{
    border-bottom-left-radius: 20px 20px;
   border-bottom-right-radius: 20px 20px;
    background: url(../img/Eyes.png) center;
    background-repeat: no-repeat;
    background-size: 600px 600px;
    transform: rotate(90deg);
}

.movingright{
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  background: url(../img/Eyes.png) center;
  background-repeat: no-repeat;
  background-size: 600px 600px;
  transform: rotate(270deg);
}

.snake{
    background-color: hsl(230, 95%, 30%);
    border: .25vmin solid black;
    box-shadow: 0 0 100px 15px #ffffff4f;
}

#head{
    background-color: hsl(227, 84%, 10%);
    border: .25vmin solid black;
    box-shadow: 0 0 80px 15px #e8f4fb;
}

    @keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
      }


.food{
    background: url(../img/firefly.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1000px;
    filter: drop-shadow(7px 7px 7px #fff70d);
        -webkit-filter: drop-shadow(1.5px 7px 7px #f4fc57);
    /*box-shadow: 0 0 100px 20px #ffff004f; */
}




#scoreboard{
    color: white;
    text-align:center;
    align-items:start;
    
}